<!DOCTYPE html>
<html lang="es" dir="ltr">

	<head>
		<meta charset="utf-8">

		<title>ATMS</title>

 		{% load staticfiles %}
 		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

		<meta name="viewport" content="width=device-width , initial-scale=1.0">
	</head>

	<body>
		<div class="services"> 
			<h1>GESTIÓN ATMS</h1>
				<div class="cen">

					<div class="service">
						<a href="http://127.0.0.1:8000/main/tickets/">
						<i class="fas fa-rss"></i>
						<h2>Tickets</h2>
						<p>Gestión de Alertas</p>
						</a>
					</div>

					<div class="service">
						<i class="fas fa-file-signature"></i>
						<h2>Administrativa</h2>
						<p>Gestión de documentaciones</p>
					</div>

					<div class="service">
						<i class="fas fa-network-wired"></i>
						<h2>Equipos</h2>
						<p>Gestión de Equipos</p>
					</div>

					<div class="service">
						<i class="fas fa-wrench"></i>
						<h2>Mantenimiento</h2>
						<p>Registro de mantenimientos</p>
					</div>

					<div class="service">
						<i class="fas fa-calendar-alt"></i>
						<h2>Actividades</h2>
						<p>Calendario de tareas</p>
					</div>

					<div class="service">
						<i class="fas fa-hand-holding-usd"></i>
						<h2>Particulares</h2>
						<p>Aportes, organización interna</p>
					</div>

				</div>
		</div>

		<div class="pie" style="text-aling: center;">
			<p><strong>Sitio en construcción</strong></p>
		</div>
	</body>

</html>

