{% extends 'base.html' %}

{% block title %} Index  {% endblock %}

{# 		{% block header %}
		<br>
		{% endblock %} #}


		{% block content %}

<div class="jumbotron text-center">
  <h1>Aplicación Web ATMS</h1>
  <p>Administración del Centro Avanzado de Gestión de Tráfico</p> 
</div>

<div class="container">
  <div class="row">
	<div class="col-sm-4">
		<div class="card text-white bg-danger mb-3" style="max-width: 24rem;">
			  <div class="card-header">
			  	<a href="{% url 'ticket_home' %}" class="btn btn-danger" class="max-width: 24rem;">TICKETS <small>(En construcción)</small></a>
			  </div> <!-- #E74C3C -->
			  <div class="card-body">
			    <h4 class="text-center">Órdenes de Trabajo</h4>
			    <p class="text-center"><i class="fas fa-rss fa-3x"></i></p>
		  	  </div>
		</div>
	</div>

    <div class="col-sm-4">
		<div class="card text-white bg-warning mb-3" style="max-width: 24rem;">
		  <div class="card-header">
		  	<a href="#" class="btn btn-warning">EQUIPOS <small>(Pendiente)</small></a></div> <!-- #F39C12 -->
		  <div class="card-body">
		    <h4 class="text-center">Equipos y Sistemas</h4>
		    <p class="text-center"><i class="fas fa-sitemap fa-3x"></i></p>
		  </div>
		</div>
	</div>

    <div class="col-sm-4">
		<div class="card text-white bg-success mb-3" style="max-width: 24rem;">
		  <div class="card-header">
		  	<a href="#" class="btn btn-success">DOCUMENTOS <small>(Pendiente)</small></a></div> <!-- #00bc8c -->
		  <div class="card-body">
		    <h4 class="text-center">Archivo y otros</h4>
		    <p class="text-center"><i class="fas fa-file-signature fa-3x"></i></p>
		  </div>
		</div>
    </div>

    <div class="col-sm-4">
			<div class="card text-white bg-primary mb-3" style="max-width: 24rem;">
			  <div class="card-header">
			  	<a href="#" class="btn btn-primary">Actividades <small>(Pendiente)</small></a></div> <!-- #3498DB -->
			  <div class="card-body">
			    <h4 class="text-centere">Calendario de Tareas</h4>
			    <p class="text-center"><i class="fas fa-calendar-alt fa-3x"></i></p>
			  </div>
			</div>
    </div>

	<div class="col-sm-4">

		<div class="card text-white bg-secondary mb-3" style="max-width: 24rem;">
		  <div class="card-header">
		  	<a href="#" class="btn btn-secondary">Personal <small>(Pendiente)</small></a></div> <!-- #adb5bd -->
		  <div class="card-body">
		    <h4 class="text-center">Gestión de Personal</h4>
		    <p class="text-center"><i class="fas fa-users fa-3x"></i></p>
		  </div>
		</div>	
	</div>

	<div class="col-sm-4">
		<div class="card text-white bg-info mb-3" style="max-width: 24rem;">
		  <div class="card-header">
		  	<a href="#" class="btn btn-info">Aportes <small>(Pendiente)</small></a></div> <!-- #3498DB -->
		  <div class="card-body">
		    <h4 class="text-center">Rendición de Cuentas</h4>
		    <p class="text-center"><i class="fas fa-hand-holding-usd fa-3x"></i></p>
		  </div>
		</div>
    </div>
<!-- 	<div class="col-sm-4">
		<div class="card bg-light mb-3" style="max-width: 24rem;">
		  <div class="card-header">Header</div>
		  <div class="card-body">
		    <h4 class="card-title">Light card title</h4>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
    </div>

	<div class="col-sm-4">
		<div class="card text-white bg-dark mb-3" style="max-width: 24rem;">
		  <div class="card-header">Header</div>
		  <div class="card-body">
		    <h4 class="card-title">Dark card title</h4>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
    </div> -->

</div>

		<br>
		{% endblock %}



